#========================================================================
# Copyright 2020-2021 Joao Vitor Alves Fazolo and Rodrigo Laiola Guimaraes
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
# 
# This program is released under license GNU GPL v3+ license.
#
#========================================================================


version: '3.8'

services:

    boca-adminer:
        image: adminer:latest
        environment:
            - ADMINER_DEFAULT_SERVER=boca-db
        ports:
            - 8080:8080

# volumes:
#
#     db-data:

    boca-api:
        image: boca-api 
        restart: unless-stopped
        build:
            context: .
            dockerfile: docker/dev/api/Dockerfile
        ports:
            - 49160:8080

